{% load i18n %}
<div class="action-row">
  {% if cancel_url %}
    <a href="{{ cancel_url }}" class="btn btn-link">{% trans "Cancel" %}</a>
  {% else %}
    <span></span>
  {% endif %}

  <div class="action-buttons">
    {% if wizard.steps.prev %}
      <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}" class="btn btn-secondary">
        {% trans "Back" %}
      </button>
    {% else %}
      <button disabled type="button" class="btn btn-secondary btn-disabled">{% trans "Back" %}</button>
    {% endif %}
    <button type="submit" class="btn btn-primary">{% trans "Next" %}</button>
  </div>
</div>
